:root {
    --blue-50: #3C85F3;
    --blue-100: #001C81;
    --shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.25);
}

* {
    font-family: 'Noto Serif', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #FFF;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-50);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-100);
}
  

section {
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 19px;
}

.header a {
    color: #000;
    font-size: 1.6rem;
}

.header a > img {
    margin-top: 3px;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.profile-img img {
    max-width: 260px;
    cursor: pointer;
    filter: drop-shadow(9px 9px 3px rgba(0, 0, 0, 0.25));
}

.main-text, .sub-text {
    color: #000;
    text-align: center;
}

.main-text h1 {
    font-size: 5rem;
    font-weight: 400;
}

.sub-text {
    width: 40rem;
}

.sub-text p {
    font-size: 1.5rem;
    font-weight: 400;
}

.main-btn {
    display: flex;
    gap: 3rem;
    margin: 2.5rem;
}

.main-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21rem;
    height: 5rem;
    box-shadow: var(--shadow);
    font-size: 2rem;
    font-weight: 700;
    border: 5px solid var(--blue-100);
    border-radius: 0.6rem;
    transition: all 300ms ease-in-out;
}

.btn-fill {
    background: var(--blue-50);
    color: #FFF;
}

.btn-fill:hover {
    background-color: #FFF;
    color: #000;
    transform: scale(0.95);
    box-shadow: var(--shadow);
}

.btn-outline {
    color: #000;
}

.btn-outline:hover {
    color: #FFF;
    background-color: var(--blue-50);
    transform: scale(0.95);
    box-shadow: var(--shadow);
}



