:root {
    --blue-50: #3c85f3;
    --blue-100: #001c81;
    --shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.25);
}

* {
    font-family: "Noto Serif", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-50);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-100);
}

section {
    height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.profile-img img {
    max-width: 260px;
    cursor: pointer;
    filter: drop-shadow(9px 9px 3px rgba(0, 0, 0, 0.25));
}

.main-text,
.sub-text {
    color: #000;
    text-align: center;
}

.main-text h1 {
    font-size: 5rem;
    font-weight: 400;
    cursor: default;
}

.sub-text {
    width: 40rem;
}

.sub-text p {
    font-size: 1.5rem;
    font-weight: 400;
}

.main-btn {
    display: flex;
    gap: 3rem;
    margin: 2.5rem;
}

.main-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21rem;
    height: 5rem;
    box-shadow: var(--shadow);
    font-size: 2rem;
    font-weight: 700;
    border: 5px solid var(--blue-100);
    border-radius: 0.6rem;
    transition: all 300ms ease-in-out;
}

.btn-fill {
    background: var(--blue-50);
    color: #fff;
}

.btn-fill:hover {
    background-color: #fff;
    color: #000;
    transform: scale(0.95);
    box-shadow: var(--shadow);
}

.btn-outline {
    color: #000;
}

.btn-outline:hover {
    color: #fff;
    background-color: var(--blue-50);
    transform: scale(0.95);
    box-shadow: var(--shadow);
}

/*About me*/

.aboutme-content {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 75px;
    margin: 3rem auto;
}

.biography {
    display: flex;
    flex-direction: column;
}

.biography h1 {
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1.5rem;
}

.underline {
    text-decoration: underline;
}

.bio-text,
.carrer-text {
    padding: 1.5rem;
}

.carrer-text p,
.bio-text p {
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
}

.tecnologys {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.biography,
.social-midia,
.tecnology {
    border-radius: 10px;
    border: 5px solid #001c81;
    box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.25);
}

.biography {
    width: 630px;
    height: 545px;
}

.social-midia {
    width: 430px;
    height: 205px;
}

.social-midia h1,
.tecnology h1 {
    padding: 1rem;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    transition: all 400ms ease-in-out;
}

.social-icons a:hover {
    transform: scale(0.95);
}

.tecnology {
    width: 430px;
    height: 288px;
}

.tecnology-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.tecnology-icons div {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* Projetcs */

#projects {
    height: fit-content;
    padding-bottom: 8rem;
}

.projects-content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 75px;
    margin: 3rem auto;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.project-description {
    max-width: 28rem;
    text-align: center;
}

.project-description h1 {
    font-size: 4.3rem;
    font-weight: 300;
    padding: 1rem;
}

.project-description p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.project-img:hover {
    transition: all 300ms ease-in-out;
    transform: scale(0.98);
}

/* Contact */

.contact-content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 75px;
    margin: 3rem auto;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
    padding: 2rem;
}

.phone-number,
.email {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    gap: 3rem;
}

.wpp-btn a,
.email-btn a {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 7.5rem;
    border-radius: 0.625rem;
    border: 5px solid var(--blue-100);
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}

.email-btn a {
    gap: 1rem;
}

.wpp-btn a:hover,
.email-btn a:hover {
    transform: scale(0.95);
    box-shadow: var(--shadow);
}

.wpp-btn h1,
.email-btn h1 {
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.phone-number h3,
.email h3 {
    color: #000;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    flex-shrink: 0;
    border-top: 5px solid var(--blue-100);
    background: var(--blue-50);
    cursor: default;
}

footer h1 {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
